*{
    margin: 0px;
}
body{
}
p{
    /*怎么让字体大小随窗口大小变化*/
    color:#fff;
    font-family;
    width: 100%;
    font-size: 300%;
    letter-spacing: 0.3em;
    position: absolute;
    top:300px;
}
div{
    /*怎么让盒子高度等于随窗口高度*/
    display: inline-block;
    float:left;
    width: 14%;
    height: 190px;
    transition: height 2s;
}
div:hover{
    height: 600px;
}
#red{
    background-color: red;
    width: 15%;
}
#orange{
    background-color: orange;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#indigo{
    background-color: indigo;
}
#purple{
    background-color: purple;
    width: 15%;
}